* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Piazzolla", serif;
  position: relative;
}

.navbar-custom {
  background: linear-gradient(180deg, #f8049c, #fdd54f);
  color: white;
  padding: 20px;
}

.btn-secondary {
  background-color: #444444;
}
a.navbar-brand {
  font-size: 40px;
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
  font-size: 20px;
}

.navbar-toggler-icon {
  color: white;
}
nav {
  color: white;
}
.background {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 10px;
  color: white;
}

.content {
  height: 100%;

  align-items: center;
  justify-content: center;
}

#checkOut {
  background: linear-gradient(180deg, #f8049c, #fdd54f);
  /* background: linear-gradient(#fd8c4f, #fedb7f); */
  color: white;
  font-size: 3em;
  /* width: 80%; */
  margin: 0 auto;
  padding: 10px;
}
/* #main {
  margin-top: 70px;
} */
ul li {
  list-style: none;
  font-size: 20px;
}
.pics {
  height: 300px;
  /* margin: 20px auto; */
}
.image-holder {
  width: 80%;
  margin: 0 auto;
}

#food {
  padding-top: 80px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}

#contactpage {
  margin-top: 80px;
}
.food {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.holder {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
}
.food img {
  /* margin: 5px; */

  height: 100%;
  width: 100%;
}

#menu {
  /* width: 80%; */
  margin: 0 auto;
  padding: 10px;
  height: 100%;
  padding-top: 75px;
}
/* .send {
  width: 50%;
} */

.buttons {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  margin: 0 auto;
  justify-content: center;
}

.custom {
  margin: 0 auto;
  width: 40vw;
  padding: 5px;
  font-size: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.card {
  border: none;
}

button:hover {
  background-color: #6c757d;
}

form.fte,
form.fte input,
form.fte textarea,
form.fte select,
form.fte .fte-ckrad {
  font-size: 16px;
  color: white;
  font-family: verdana, sans-serif;
  line-height: 1.3em;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
form.fte {
  max-width: 600px;
  padding: 0;
  margin: 2em auto;
}
form.fte input,
form.fte textarea,
form.fte select,
form.fte .fte-ckrad label {
  color: #666;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px 20px;
  margin: 15px 0 30px;
  transition: all 0.2s;
}
form.fte input[type="text"],
form.fte input[type="submit"],
form.fte textarea {
  -webkit-appearance: none;
}
form.fte input[type="submit"] {
  background: #444;
  color: #fff;
  padding: 18px 28px;
  width: auto;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  margin: 0;
  white-space: normal;
}
form.fte input[type="submit"]:hover {
  background: #666;
}
form.fte input:focus,
form.fte textarea:focus,
form.fte select:focus {
  border-color: #999;
}
form.fte select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff
    url("data:image/gif;base64,R0lGODlhCgAFAJEAAGZmZv///////wAAACH5BAEHAAIALAAAAAAKAAUAAAIKhI+CKboNGWxmFgA7")
    no-repeat right 20px center;
  padding-right: 20px;
  cursor: pointer;
}
form.fte input[type="file"] {
  line-height: 1em;
  font-size: 1em;
  padding: 10px;
}
form.fte .fte-ckrad,
.g-recaptcha {
  margin-bottom: 30px;
}
form.fte .fte-ckrad label {
  cursor: pointer;
  padding: 0;
  margin: 15px 0 0 1em;
  background: none;
  border: none;
  display: inline-block;
  width: auto;
  position: relative;
}
form.fte .fte-ckrad input {
  width: auto;
  margin: 0.5em 0 0.5em 0.5em;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
}
form.fte .fte-ckrad input[type="radio"] + label::before {
  content: "";
  display: block;
  height: 1.2em;
  width: 1.2em;
  border: 1px solid #ccc;
  border-radius: 1em;
  position: absolute;
  left: -2em;
  top: 0;
  background: #fff;
  box-shadow: inset 0px 0px 0px 0.3em #fff;
  transition: all 0.2s;
}
form.fte .fte-ckrad input[type="radio"]:checked + label::before {
  background: #666;
}
form.fte .fte-ckrad input[type="checkbox"] + label::before {
  content: "\2713";
  display: block;
  height: 1.2em;
  width: 1.2em;
  border: 1px solid #ccc;
  position: absolute;
  left: -2em;
  top: 0;
  background: #fff;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
}
form.fte .fte-ckrad input[type="checkbox"]:checked + label::before {
  color: #666;
}
form.fte input[type="file"] {
  line-height: 1em;
  font-size: 1em;
  padding: 0;
  border: none;
  cursor: pointer;
}
form.fte .credit {
  font: 10px arial;
  float: right;
  color: #999;
  margin-top: 22px;
}
form.fte .credit a {
  color: #999;
}
.menuToggle:hover {
  cursor: pointer;
  text-decoration: underline;
  /* font-size: 3em; */
  color: Purple;
}

.card {
  display: relative;
  border-radius: 0;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.small {
  text-align: center;
}

.buttonholder {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .foods {
    flex-basis: 100%;
  }
}
