* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* color: white; */
  font-family: "Piazzolla", serif;
  position: relative;
}

/* .hide-sm {
  display: none;
} */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}
nav {
  color: white;
}
.main {
  /* background-color: rgba(100, 100, 100, 0.5); */
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 10px;
  color: white;
}

#checkOut {
  background: linear-gradient(#fd8c4f, #fedb7f);
  color: white;
  font-size: 3em;
  /* width: 80%; */
  margin: 0 auto;
  padding: 10px;
}
/* #main {
  margin-top: 70px;
} */
ul li {
  list-style: none;
}
.pics {
  height: 300px;
  /* margin: 20px auto; */
}
.image-holder {
  width: 80%;
  margin: 0 auto;
}

#food {
  padding-top: 80px;
  text-align: center;
  text-shadow: -1px 1px 0 #000;
}
.food {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;

  justify-content: center;
}
.holder {
  flex: 1;
  min-width: 200px;
}
.food img {
  /* margin: 5px; */

  height: 200px;
  width: 100%;
}

#menu {
  background: linear-gradient(#fd8c4f, #fedb7f);
  /* width: 80%; */
  margin: 0 auto;
  padding: 10px;
  height: 100%;
  padding-top: 75px;
}
/* .send {
  width: 50%;
} */

.buttons {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  margin: 0 auto;
  justify-content: center;
}

.custom {
  margin: 0 auto;
  width: 40vw;
  padding: 5px;
  font-size: 20px;
}
.types {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: space-between; */
  /* align-content: space-evenly; */
  /* padding: 10px; */
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
.foods {
  /* border: 1px solid black;
  min-width: 300px;
  flex-basis: 50%; */
  /* padding: 10px; */
  /* min-width: 200px;
  text-align: center; */
}

/* .items {
  text-align: center;
}
.sides {
  flex-basis: 100%;
} */
/* .p {
  text-align: center;
}

.deserts {
  flex-basis: 100%;
} */
.menuToggle:hover {
  cursor: pointer;
  text-decoration: underline;
  /* font-size: 3em; */
  color: Purple;
}

.card {
  border-radius: 0;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.small {
  text-align: center;
}

.buttonholder {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .foods {
    flex-basis: 100%;
  }
}
